.modal {
  cursor: pointer;
}
.modal-content {
  cursor: auto;
}

.carousel-control-prev,
.carousel-control-next {
  display: none;
}

.carousel {
  display: inline-block;
  width: 100%;
  .carousel-indicators {
    li {
      background-color: hsla(0, 0%, 25%, .3);
    }
  }
  .carousel-control-next {
    background: linear-gradient(to right, rgba(125,185,232,0) 0%,rgba(0,0,0,0.1) 100%);
    opacity: 0;
    transition: all 0.3s ease;
    &:hover {
      opacity: 1;
    }
  }
  .carousel-control-prev {
    background: linear-gradient(to left, rgba(125,185,232,0) 0%,rgba(0,0,0,0.1) 100%);
    opacity: 0;
    transition: all 0.3s ease;
    &:hover {
      opacity: 1;
    }
  }
}