.product {
  padding: 15px;
  .card {
    border: none;
    // height: 100%;
    // min-height: 100%;
  }
  .card-img-top {
    cursor: pointer;
  }
  .displayPrice {
    display: inline-block;
    padding: 1px 5px;
    border-bottom: 2px solid hsla(120deg, 73%, 75%, 1);
  }
}